.home {
  height: 30rem;
  width: 100%;
}
h2 {
  display: flex;
  justify-content: center;
  font-size: 50px;
}
h1 {
  display: flex;
  justify-content: center;
  font-size: 50px;
}
.Us {
  padding: 20px;
}
.Team {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 5px;
}
.about-cards {
  height: 100%;
}
.about-cards h5 {
  font-size: 2rem;
}
.about-cards p {
  font-size: 1.5rem;
}
.about-cards .Photo {
  height: 20rem;
}
